* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-wrapper {
    vertical-align: middle;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 940px;
    width: 90%;
}

body {
    font-family: Muli;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#trafalgar_logo {
    margin-top: 56px;
    flex: 0 0 auto;
}

.navigator {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navigator a {
    margin-top: auto;
    text-decoration: none;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 18px;
    height: fit-content;
}

#home_a {
    color: #1F1534;
    font-weight: 700;
}

.main_header {
    width: 100%;
    margin-top: 80px; 
    display: flex;
}

.header_text {
    max-width: 445px;
    margin-top: 106px;
}

.header_text h2 {
    color: #000000;
    font-weight: 700;
    font-size: 48px;
}


#header_p {
    font-weight: 300;
    font-size: 21px;
    color: rgba(125, 121, 135, 1);
    margin-top: 25px;
    margin-bottom: 45px;
}

#consult_button {
    border: 1px solid rgba(69, 143, 246, 1);
    border-radius: 55px;
    padding: 10px 20px;
    overflow: hidden;
    width: calc(100% - 245px);
    height: 56px;
    color: white;
    background-color: rgba(69, 143, 246, 1);
}

#button_txt {
    font-weight: 700;
    font-size: 18px;
}

#top_img {
    margin-bottom: 50px;
    position: relative;
    flex-direction: row;
    margin-left: auto;
}

.top_text {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 26px;
}

.top_text hr {
    border: 1px solid black;
    width: calc(100% - 896px);
    margin: auto;
}

.top_text h2 {
    font-weight: 700;
    font-size: 36px;
}

#services_main_txt {
    text-align: center;
    line-height: 30px;
    font-weight: 300;
    width: 952px;
    color: rgba(125, 121, 135, 1);
    font-size: 18px;
}