* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-wrapper {
    vertical-align: middle;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 940px;
    /* Add position relative to allow absolute positioning of the footer */
    position: relative;
}


body {
    font-family: Mulish;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#trafalgar_logo {
    margin-top: 56px;
    flex: 0 0 auto;
}

.navigator {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navigator a {
    margin-top: auto;
    text-decoration: none;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 18px;
    height: fit-content;
}

#home_a {
    color: #1F1534;
    font-weight: 700;
}

.main_header {
    width: 100%;
    margin-top: 80px; 
    display: flex;
}

.header_text {
    max-width: 445px;
    margin-top: 106px;
}

.header_text h1 {
    color: #000000;
    font-weight: 700;
    font-size: 48px;
}


#header_p {
    color: rgba(125, 121, 135, 1);
    margin-top: 25px;
    margin-bottom: 45px;
    font-family: Muli;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
}

#consult_button {
    border: 1px solid rgba(69, 143, 246, 1);
    border-radius: 55px;
    padding: 10px 20px;
    overflow: hidden;
    width: calc(100% - 245px);
    height: 56px;
    color: white;
    background-color: rgba(69, 143, 246, 1);
}

#button_txt {
    font-weight: 700;
    font-size: 18px;
}

#top_img {
    margin-bottom: 50px;
    position: relative;
    flex-direction: row;
    margin-left: auto;
}

.top_text, .customer_top_text {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 26px;
}

.top_text hr {
    border: 1px solid black;
    width: calc(100% - 896px);
    margin: auto;
}

.top_text h2 {
    font-weight: 700;
    font-size: 36px;
}

#services_main_txt {
    text-align: center;
    line-height: 30px;
    font-weight: 300;
    width: 952px;
    color: rgba(125, 121, 135, 1);
    font-size: 18px;
}

.grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

.search_doc, .online_pharmacy, .consultation, .detailed_info, .emergency, .tracking {
    border: 1px solid white; /* White border */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 40px 20px;
    height: 354px;
}

.search_doc p, .online_pharmacy p, .consultation p, .detailed_info p, .emergency p, .tracking p {
    color: rgba(125, 121, 135, 1);
    max-width: 266px;
    line-height: 28px;
}

.search_doc h1, .online_pharmacy h1, .consultation h1, .detailed_info h1, .emergency h1, .tracking h1 {
    margin-top: 21px;
    height: 56px;
}


#learn_more_btn_1, #learn_more_btn_2, #download_btn {
    justify-content: center;
    border: 1.4px solid rgba(69, 143, 246, 1);
    border-radius: 55px;
    width: 200px;
    background-color: transparent;
}

#learn_more_button_txt_1, #learn_more_button_txt_2, #download_btn_text {
    color: rgba(69, 143, 246, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 54px;
}

.learn_more_button_div {
    justify-content: center;
    margin: 0 auto;
}

.emergency h1 {
    margin-top: 40px;
}

.additional_info {
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.top_side {
    display: flex;
    flex-direction: row;
}

.top_side_txt {
    max-width: 500px;
    justify-content: left;
    text-align: left;
    margin-left: 137px;
    margin-top: 50px;
}

.top_side_txt h1 {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    margin-bottom: 25px;
}

.top_side_txt hr {
    border: 1px solid black;
    width: 56px;
    margin-bottom: 30px;
}

.top_side_txt p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(125, 121, 135, 1);
    margin-bottom: 35px;
}

.bottom_side {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img_2 {
    float: right;
    margin-right: auto;
    order: 2;
    margin-left: 130px;
}

.bot_side_txt {
    max-width: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.bot_side_txt h1 {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    max-width: 255px;
    margin-bottom: 25px;
}

.bot_side_txt hr {
    border: 1px solid black;
    width: 56px;
    margin-bottom: 30px;
}

.bot_side_txt p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    max-width: 420px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(125, 121, 135, 1);
}

#download_btn{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}

.customers_saying {
    display: flex;
    flex-direction: column;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 45px 5%;
    color: rgba(255, 255, 255, 1);
    max-width: 1120px;
    width: 100%;
    height: auto;
    margin-top: 250px;
}

.person {
    display: flex;
    align-items: center; 
    margin: 80px 50px 25px 50px;
}

.image_of_person {
    display: flex;
    align-items: center;
}

#person_img {
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 20px;
}

#top_text_h1 {
    color: rgba(255, 255, 255, 1);
    font-family: Muli;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}

.customer_top_text hr {
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 56px;
}

.comment_of_person {
    margin-left: auto;
    max-width: 420px;
    font-family: Muli;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.about_person {
    display: flex;
    flex-direction: column;
}

.about_person h1 {
    font-family: Muli;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
}

.about_person p {
    font-family: Muli;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;    
}

.latest_articles {
    text-align: center;
    margin-top: 200px;
}

.footer_head_txt {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 26px;
}

.footer_head_txt hr {
    border: 1px solid black;
    width: 56px;
    margin: auto;
}

.footer_head_txt h1 {
    font-family: Muli;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
}

.article_blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.article_blocks h3 {
    font-family: Muli;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}


.article_blocks p {
    font-family: Muli;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    color: rgba(125, 121, 135, 1);
}



.article_n1 {
    max-width: 350px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background: rgba(255, 255, 255, 1);
    height: 512px;
    border: 1px solid white;
    border-radius: 20px;
}

#article_n1_img{ 
    border: 0px;
    border-radius: 15px 15px 0px 0px;
}

.article_n2 {
    max-width: 350px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background: rgba(255, 255, 255, 1);
    height: 512px;
    border: 1px solid white;
    border-radius: 20px;
}

#article_n2_img{ 
    border: 0px;
    border-radius: 15px 15px 0px 0px;
}

.article_n3 {
    max-width: 350px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background: rgba(255, 255, 255, 1);
    height: 512px;
    border: 1px solid white;
    border-radius: 20px;
}

#article_n3_img{ 
    border: 0px;
    border-radius: 15px 15px 0px 0px;
}

.article_n1_txt, .article_n2_txt, .article_n3_txt {
    padding: 25px 50px 35px 30px;
    text-align: left;
}

.article_n1_txt h3, .article_n2_txt h3, .article_n3_txt h3{
    text-align: left;
    margin-bottom: 12px;
}

.article_n1_txt p, .article_n2_txt p, .article_n3_txt p {
    text-align: left;
    margin-bottom: 25px;
}

.article_blocks a {
    text-decoration: none;
    color: rgba(64, 137, 237, 1);
}

.article_blocks a img {
    margin-left: 10px;
}

@media screen and (max-width: 1100px) {
    .article_blocks {
        flex-direction: column;
    }
}


#view_all_btn {
    margin-top: 70px;
    border: 1.4px solid rgba(69, 143, 246, 1);
    border-radius: 55px;
    width: 200px;
    background-color: transparent;
}

#view_all_txt {
    color: rgba(69, 143, 246, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 54px;
}

footer {
    margin-bottom: auto;
}

.last_footer {
    width: 100%;
    height: 432px;
    margin-top: 200px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left_footer p {
    color: rgba(255, 255, 255, 1);
    font-family: Muli;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.left_footer {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: auto;
    margin-left: 190px;
    margin-top: 118px;
}

.logo_and_text {
    display: flex;
    flex-direction: row;
}

.bot_nav {
    display: flex;
    flex-direction: row;
    margin: 100px 250px 100px 100px;
}

#footer_trafalgar{
    font-family: Muli;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

#copyright {
    font-family: Muli;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.company, .region, .help {
    display: inline-block;
    max-width: 200px;
}

.company {
    margin-right: 100px;
}

.region {
    margin: 0px 100px;
}

.help {
    margin-left: 100px;
}


.company a, .region a, .help a {
    text-decoration: none;
    font-family: Muli;
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 120px;
}

.company h1, .region h1, .help h1{
    font-family: Muli;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

  
.text_overlay {
    position: absolute;
    top: 50%; /* Adjust these values for positioning */
    left: 50%; /* to center the text */
    transform: translate(-50%, -50%);
    color: black; /* Set text color */
    font-size: 24px; /* Set font size */
    font-weight: bold; /* Set font weight */
  }